<div class="container mt-5">

  <%= render 'layouts/navbar_users.html.erb' %>

  <div class="row">

    <div class="col-6">
      <div class="card">
        <div class="card-body">
          ここにグラフ
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          ここにグラフ
        </div>
      </div>
    </div>

  </div>
</div>
